<#@ template language="C++" #>

#include "stdafx.h"
#include "CppUnitTest.h"

using namespace Microsoft::VisualStudio::CppUnitTestFramework;

namespace UnitTest
{		
	TEST_CLASS(<#=Name#>)
	{
	public:
		
		TEST_METHOD(<#=Name#>))
		{
			// TODO: Your test code here
		}
	};
}